.text-decoration-underline {
    text-decoration: underline;
}

.text-decoration-hover-underline {
    &:hover {
        text-decoration: underline;
    }
}

.cursor-pointer {
    cursor: pointer;
}

.d-flex-1 {
    flex: 1;
}