<div class="comment d-flex mb-3">
  <app-user-avatar [view]="'post'"></app-user-avatar>
  <div class="comment__content d-flex flex-column">
    <div class="comment__content__wrapper p-2">
        <span class="comment__content__wrapper__author text-decoration-hover-underline cursor-pointer">Nemanja Lazarevic </span>
        <span class="comment__content__wrapper__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi, laborum. Sit, quibusdam. Inventore, recusandae impedit possimus natus dignissimos rerum dicta neque porro eius culpa corrupti voluptas! Velit magnam porro nulla!</span>
    </div>
    <div class="comment__content__actions">
      <ul class="d-flex m-0 p-0 mt-2 pl-2">
        <li class="text-decoration-hover-underline cursor-pointer">Like (25)</li>
        <li class="date">an hour ago</li>
      </ul>
    </div>
  </div>
</div>