<div class="comment d-flex mb-3">
  <app-user-avatar [view]="'post'"></app-user-avatar>
  <div class="comment__content d-flex flex-column">
    <div class="comment__content__wrapper p-2">
        <span class="comment__content__wrapper__author text-decoration-hover-underline cursor-pointer">Nemanja Lazarevic </span>
        <span class="comment__content__wrapper__text">{{ comment?.comment }} </span>
    </div>
    <div class="comment__content__actions">
      <ul class="d-flex m-0 p-0 mt-2 pl-2">
        <li class="text-decoration-hover-underline cursor-pointer" 
          [ngClass]="{liked: checkIsLiked}"
          (click)="like()">Like ({{ comment?.likes.length }})
        </li>
        <li 
          class="text-decoration-hover-underline cursor-pointer delete" 
          *ngIf="comment?.userId?._id === userId"
          (click)="deleteComment()">Delete</li>
        <li class="date">{{ comment?.createdAt | timeAgo }}</li>
      </ul>
    </div>
  </div>
</div>