<div class="status" *ngIf="status">
  <form [formGroup]="statusForm" (ngSubmit)="onSubmit()">  
    <div class="form-group">
        <textarea 
          formControlName="status" 
          placeholder="What's on your mind?"
          class="form-control">
        </textarea>
    </div>
    <div class="form-group">
        <input 
          class="form-control btn btn-primary float-right status__btn__update" 
          type="submit" 
          value="Update"
          [disabled]="statusForm.invalid || statusUpdate">
    </div>
  </form>
</div>