@import '~src/assets/scss/colors';

.avatar {
    &__post {
        width: 40px;
        max-width: 40px;
        margin-right: .5rem;
    }

    &__image {
        width: 100%;
        border-radius: 100%;
        border: 1px solid $lightGray;
    }
}

